@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  /* Đảm bảo tất cả phần tử sử dụng box-sizing: border-box */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: hsl(189.8, 92.8%, 72.7%);
    --primary-foreground: hsl(190, 100%, 42.4%);
    --bg-cyan: hsl(192, 100%, 98%);
    --soft-cyan: hsl(190, 74.3%, 58.8%);
    --strong-cyan: hsl(194.8, 100%, 39%);
    --dark-blue: hsl(213.5, 97.1%, 27.5%);
    --very-dark-blue: hsl(239.3, 93.8%, 19%);
    --border: hsl(190.4, 76.7%, 88.2%);
    --input: hsl(190.4, 76.7%, 88.2%);
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
  }

  /* Áp dụng màu viền và focus cho các input, textarea, select */
  input:focus,
  textarea:focus,
  select:focus {
    @apply border-soft_cyan focus:outline-none; /* Sử dụng màu focus tùy chỉnh */
  }

  /* Đặt màu nền và màu chữ cho body */
  body {
    @apply bg-background text-foreground;
  }

  /* Áp dụng màu viền mặc định cho tất cả phần tử */
  * {
    @apply border-border;
  }
}
